@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Bungee+Spice&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
nav{
    z-index: 100;
}
.wwrap{
   
    width: 100%;
    height: 1080px;
    background-color: #030E17;
    background-position: center;
    background-size: cover;
    z-index: 1;
}
.pt{
    position: absolute;
    width: 954px;
    height: 1080px;
    background-image: url(img/반복\ 그리드\ 2.png);
    
}
.wfr01{
    width: 706px;
    height: 189px;
}
.wwrap2{
    position: absolute;
    width: 100%;
    height: 1080px;
    top: 0;
    z-index: 1;
}
.wfr_set{
    width: 834px;
    height: 1080px;
    margin: 0 auto;
    position: relative; 
   
    display: flex;
    justify-content: center;
    z-index: 3;
}
.wfr01{
    width: 706px;
    height: 189px;
    
position: absolute;
}
.wfr02{
    width: 824px;
    height: 824px;
    background-image: url(img/이미지\ 4.png);
    background-size: cover;
    bottom: 0;
    position: absolute;
}
.wwrap3{
    right: 130px;
    position: absolute;
    
    width: 386px;
    height: 1080px;
    z-index: 100;
}
.wbt01 {
    width: 386px;
    height: 127.5px;
    padding-top: 244px;
}
.wbt02 {
    width: 386px;
    height: 127.5px;
    padding-top: 51.5px;
}

.wbt03 {
    width: 386px;
    height: 127.5px;
    padding-top: 51.5px;
}


/*--sub01--*/
header{
    
    position: fixed; 
    left: 0;
    right: 0;
    top: 0;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    z-index: 9;
}


.wrap {
    background-color: #0D3034; opacity: 85%;
    width: 1920px;
    height: 176px;
    margin: 0 auto;
}
.bar1{
    margin: 0 auto;
    position: absolute;
    background-image: url(sub01/bar2.png);
    background-size: cover;
    width: 462px;
    height: 125px;
    margin-left: 154px;
    top: 26px
}
.bar2{
    position: absolute;
    background-image: url(sub01/bar\ bt1.png);
    width: 200px;
    height: 85px;
    margin-left: 1153px;
    top: 39px
}
.bar3{
    position: absolute;
    background-image: url(sub01/bar\ bt2.png);
    width: 126px;
    height: 85px;
    margin-left: 1444px;
    top: 39px
}
.bar4{
    position: absolute;
    background-image: url(sub01/bar\ bt3.png);
    width: 220px;
    height: 85px;
    margin-left: 1661px;
    top: 39px
}
.s_b01{
    position: relative;
    background-image: url(sub01/s01\ img1.png);
    background-size: cover;
    width: 1920px;
    height: 903px;
    margin: 0 auto;
}
.wrap2 {
    width: 1920px;
    height: 903px;
    margin: 0 auto;
}
.txtt{
    width: 292.5px;
    height: 463px;
    padding-left: 1266.8px;
    padding-top: 262.9px;
}
.txt1{
    font-size: 57px;
    width: 292px;
    height: 90px;
    font-family: 'Baloo 2', cursive;

}
.txt2{
    font-size: 43px;
    width: 292px;
    height: 62px;
    font-family: 'Baloo 2', cursive;

}
.txt3{
    font-size: 22px;
    width: 292px;
    height: 299px;
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;

}

.back{
    position: relative;
    background-image: url(sub01/마스크\ 그룹\ 4.png);
    width: 1920px;
    height:7129px;
    background-size: cover;
    margin: 0 auto;
  
}
.wrap333{
    justify-content: center;
    display: flex;
}
.wrap444{
    width: 1920px;
    height: 463px;
    margin: 0 auto;
}
.wrap555{
    margin: 0 auto;
    width: 730px;
    height: 988px;
}
.wrap666{
    width: 1920px;
  
    margin: 0 auto;}
.s_b02{
    
    margin: 93.2px;
  
    position: absolute;
    width: 706px;
    height: 480.79px;
    background-size: cover;
    background-image: url(sub01/s01_img2.png);
  
}
.s_b03{
    position: absolute;
   margin-top: 658px;
    background-image: url(sub01/s01\ img3.png);

    width: 1289px;
    height: 1289px;
}
.s_b03_1{
    background-image: url(sub01/s01\ Philippe\ Starck.png);
    
    width: 441px;
    height: 133px;
   
    margin: 0 auto;
    margin-top: 67px;
}
.txt4{
    font-size: 21px;
    width: 708px;
    height: 288px;
    padding-top:  70px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;

}
.j1{
    background-image: url(sub01/s01\ img3_1.png);
    width: 42px;
    height: 4px;
    margin-top: 573px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}
.txt5{
    font-size: 21px;
    width: 720px;
    height: 161px;
   padding-top: 51px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}
.j2{
    background-image: url(sub01/s01\ img3_2.png);
    width: 42px;
    height: 4px;
    
    margin: 0 auto;
    margin-top: 31px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}
.txt6{
    font-size: 21px;
    width: 730px;
    height: 192px;
   padding-top: 38px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

    .s_b04{
        
       position: relative;
       top: 2071px;
       margin: 0 auto; 
        background-image: url(sub01/s01\ img4.png);
        background-size: cover;
        width: 1083px;
        height: 340px;
    }

    .s_b05{
        
        position: relative;
        top: 2579px;
        margin: 0 auto; 
         background-image: url(sub01/Q\ &\ A.png);
         background-size: cover;
         width: 194px;
         height: 81px;
     }
     .txt7{
        position: relative;
        top: 2781px;
        margin: 0 auto;
        font-size: 28px;
        text-align: center;
        width: 1100px;
    height: 33px;
    font-family: AppleGothic; color:white;
    font-weight:bolder;
    
     }
     .txt8{
        position: relative;
        top: 2859px;
        margin: 0 auto;
        font-size: 22px;
        width: 834px;
    height: 94px;
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; color:white;
    text-align: center;
    
     }
     .txt9{
        position: relative;
        top: 3074px;
        margin: 0 auto;
        font-size: 28px;
        text-align: center;
        width: 1100px;
    height: 33px;
    font-family: AppleGothic; color:white;
    font-weight:bolder;}

     .txt10{
        position: relative;
        top: 3152px;
        margin: 0 auto;
        font-size: 22px;
        width: 834px;
    height: 94px;
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; color:white;
    text-align: center;
    
     }

     .txt11{
        position: relative;
        top: 3367px;
        margin: 0 auto;
        font-size: 28px;
        text-align: center;
        width: 1100px;
    height: 33px;
    font-family: AppleGothic; color:white;
    font-weight:bolder;
}
    

    .txt12{
        position: relative;
        top: 3445px;
        margin: 0 auto;
        font-size: 22px;
        width: 834px;
    height: 94px;
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; color:white;
    text-align: center;
    
     }
     .txt13{
        position: relative;
        top: 3661px;
        margin: 0 auto;
        font-size: 28px;
        text-align: center;
        width: 1100px;
    height: 33px;
    font-family: AppleGothic; color:white;
    font-weight:bolder;
}
.txt14{
    position: relative;
    top: 3739px;
    margin: 0 auto;
    font-size: 22px;
    width: 834px;
height: 94px;
font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; color:white;
text-align: center;}

.txt15{
    position: relative;
    top: 3954px;
    margin: 0 auto;
    font-size: 28px;
    text-align: center;
    width: 1100px;
height: 33px;
font-family: AppleGothic; color:white;
font-weight:bolder;}

.txt16{
    position: relative;
    top: 4031px;
    margin: 0 auto;
    font-size: 22px;
    width: 834px;
height: 94px;
font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; color:white;
text-align: center;}

.txt17{
    position: relative;
    background-image: url(sub01/s01\ img5.png);
    top: 4145px;
    margin: 0 auto;
    
    width: 10px;
height: 66px;}

.txt18{
    position: relative;
    top: 4244px;
    margin: 0 auto;
    font-size: 22px;
    width: 834px;
height: 94px;
font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; color:white;
text-align: center;}

.txt19{
    position: relative;
    top: 4512px;
    margin: 0 auto;
    font-size: 28px;
    text-align: center;
    width: 1100px;
height: 33px;
font-family: AppleGothic; color:white;
font-weight:bolder;}

.txt20{
    position: relative;
    top: 4603px;
    margin: 0 auto;
    font-size: 22px;
    width: 834px;
height: 94px;
font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; color:white;
text-align: center;}

/*--sub02--*/

.sub2_bar{
    position: relative;
    background-color: #0D2034; opacity: 85%;
    width: 100%;
    height: 176px;
}
.sub2_wrap {
    background-color: #0D2034;
    width: 1920px;
    height: 176px;
    margin: 0 auto;
}
.sub2_bar1{
    margin: 0 auto;
    position: absolute;
    background-image: url(sub02/1.png);
    background-size: cover;
    width: 462px;
    height: 125px;
    margin-left: 154px;
    top: 26px
}
.sub2_bar2{
    position: absolute;
    background-image: url(sub02/2.png);
    width: 200px;
    height: 85px;
    margin-left: 1153px;
    top: 39px
}
.sub2_bar3{
    position: absolute;
    background-image: url(sub02/3.png);
    width: 126px;
    height: 85px;
    margin-left: 1444px;
    top: 39px
}
.sub2_bar4{
    position: absolute;
    background-image: url(sub02/4.png);
    width: 220px;
    height: 85px;
    margin-left: 1661px;
    top: 39px
}
.sub02_wrap {
    background-color: #0D2034;
    width: 1920px;
    height: 176px;
    margin: 0 auto;
}

.back2{
    position: relative;
    background-image: url(sub02/BG.png);
    width: 1920px;
    height: 8900px;
    background-size: cover;
    margin: 0 auto;
}
.sb01{
    position: relative;
    top: 145px;
    margin: 0 auto;
    background-image: url(sub02/5.png);
    width: 706px;
    height: 499.78px;
    background-size: cover;

}
.s2wrap{
    top: 485px;
    position: relative;
    width: 1100px;
    height: 1230px;
    margin: 0 auto;
}
.sb02_1{
    position: absolute;
    width: 703px;
    height: 486px;
    background-image: url(sub02/6.png);
}
.sb02_2{
    position: absolute;
    margin-top: 527px;
    width: 703px;
    height: 703px;
    background-image: url(sub02/7.png);
}
.sb02_3{
    margin-left: 718px;
    position: absolute;
    width: 46px;
    height: 936px;
    background-image: url(sub02/JUICY\ SALIF.png);
}
.sb02_4{
    position: absolute;
    margin-top: 1041px;
    margin-left: 718px;
    
    width: 378px;
    height: 187px;
    background-image: url(sub02/txt1.png);
}

.s2wrap2{
    top: 847px;
    position: relative;
    width: 1100px;
    height: 735px;
    margin: 0 auto;

}
.sb03_1{
    position: absolute;
    width: 607px;
    height: 281px;
    background-image: url(sub02/txt2.png);
}
.sb03_2{
    margin-left: 703px;
    position: absolute;
    width: 397px;
    height: 413px;
    background-image: url(sub02/8.png);
}
.sb03_3{
    margin-top: 340px;
    position: absolute;
    width: 397px;
    height: 413px;
    background-image: url(sub02/9.png);
}
.sb04{
    margin: 0 auto;
  margin-top: 1200px;
    width: 1920px;
    height: 1022px;
    background-image: url(sub02/10.png);

}
.s2wrap3{
    
    margin: 0 auto;
    margin-top:  41px;
    width: 650px;
    height: 216px;
    justify-content: center;
    display: flex;

}
.sb04_1{
    font-size: 55px;
    position: absolute;
    width: 650px;
    height: 69px; 
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; color:white;
font-weight:bolder;}
.sb04_2{
  
    font-size: 27px;
    text-align: center;
    width: 150px;
    height: 33px; 
   margin-top: 61px;
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; color:white;
}
.sb04_3{
  position: absolute;
    font-size: 20px;
    text-align: center;
    width: 607px;
    height: 72px; 
   margin-top: 130px;
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; color:white;
}

.s2wrap4{
    top: 397px;
    position: relative;
    width: 1100px;
    height: 1625px;
    margin: 0 auto;
    
}

.sb05_1{
    position: absolute;
    width: 946px;
    height: 694px;
    background-image: url(sub02/11.png);
}
.sb05_2{
    position: absolute;
    width: 946px;
    height: 694px;
    background-image: url(sub02/12.png);
    margin-left: 154px;
    top: 694px;
}
.sb05_3{
    position: absolute;
    width: 607px;
    height: 216px;
    background-image: url(sub02/txt3.png);
    margin-left: 154px;
    top: 1409px;
}

.s2wrap5{
    margin: 0 auto;
    top: 773px;
    position: relative;
    width: 1100px;
    height: 1108px;
    justify-content: center;
    display: flex;
}

.sb06_1{
    position: absolute;
    width: 790px;
    height: 798px;
    background-image: url(sub02/13.png);
}
.sb06_2{
    position: absolute;
    width: 697px;
    height: 262px;
    background-image: url(sub02/txt4.png);
    background-size: cover;
    top: 867px;
}

/*--sub03--*/
.sub3_bar{
    position: relative;
    background-color: #0D1134; opacity: 85%;
    width: 100%;
    height: 176px;
}
.sub3_wrap {
    background-color: #0D1134;
    width: 1920px;
    height: 176px;
    margin: 0 auto;
}
.sub3_bar1{
    margin: 0 auto;
    position: absolute;
    background-image: url(sub03/s21.png);
    background-size: cover;
    width: 462px;
    height: 125px;
    margin-left: 154px;
    top: 26px
}
.sub3_bar2{
    position: absolute;
    background-image: url(sub03/s22.png);
    width: 200px;
    height: 85px;
    margin-left: 1153px;
    top: 39px
}
.sub3_bar3{
    position: absolute;
    background-image: url(sub03/s23.png);
    width: 126px;
    height: 85px;
    margin-left: 1444px;
    top: 39px
}
.sub3_bar4{
    position: absolute;
    background-image: url(sub03/s24.png);
    width: 220px;
    height: 85px;
    margin-left: 1661px;
    top: 39px
}
.sub03_wrap {
    background-color: #0D1134;
    width: 1920px;
    height: 176px;
    margin: 0 auto;
}

.back3{
    position: relative;
    background-image: url(sub03/s2bg.png);
    width: 1920px;
    height: 6850px;
    background-size: cover;
    margin: 0 auto;
}
.sub3_1{
    background-image: url(sub03/s2img1.png);
    width: 1920px;
    height: 990px;
}
.s3wrap1{
    position: relative;
    width: 1920px;
    height: 145px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
}
.sub3_2{
    position: absolute;
    background-color: black; opacity: 55%;
    width: 1920px;
    height: 145px;
}
.sub3_txt1{
    position: absolute;
    margin: 0 auto;
    font-size: 32px;
    width: 1100px;
height: 86px;
text-align: center;
font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; color:white;
text-align: center;
margin-top: 27px;
}
.s3wrap2{
    position: relative;
    width: 1100px;
    height: 871px;
    margin: 0 auto;
}
.sub3_3{
    position: absolute;
    background-image: url(sub03/s2\ \ img2.png);
    width: 578px;
    height: 871px;
}
.sub3_4{
    position: absolute;
    background-image: url(sub03/s2\ img3.png);
    width: 381px;
    height: 492px;
    top: 171px;
    margin-left: 652px;
}
.s3wrap3{
    position: relative;
    width: 1920px;
   
    justify-content: center;
    display: flex;
}
.sub3_5{
    position: absolute;
    background-color: black; opacity: 55%;
    width: 1920px;
    height: 290px;
    top: 760px;
}
.sub3_txt2{
    position: absolute;
    
    font-size: 30px;
    width: 1100px;
height: 120px;
text-align: center;
font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; color:white;
margin: 0 auto;
margin-top: 890px;

}

.s3wrap4{
        position: relative;
        width: 1920px;
        height: 131px;
        margin: 0 auto;
        justify-content: center;
        display: flex;
}
.sub3_6{
    position: absolute;
    background-color: black; opacity: 55%;
    width: 1920px;
    height: 131px;
    margin-top: 409px;
   
}
.sub3_txt3{
    
    position: absolute;
    
    font-size: 30px;
    width: 1100px;
height: 86px;
text-align: center;
font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; color:white;
text-align: center;
margin-top: 431px;

}
.s3wrap5{
    position: relative;
    width: 1100px;
    height: 663px;
    margin: 0 auto;
    margin-top: 409px;
}
.sub3_7{
    position: absolute;
    background-image: url(sub03/s2\ img4.png);
    width: 907px;
    height: 663px;
    z-index: 1;
}
.sub3_8{

background-color: black; opacity: 55%;
width: 1920px;
height: 203px;
margin-top: -203px;

}
.s3wrap6{
    position: relative;
    width: 1100px;
    height: 542px;
    margin: 0 auto;
    justify-content: end;
    display: flex;
 
}
.sub3_9{
    position: absolute;
    background-image: url(sub03/s2\ img5.png);
    width: 813px;
    height: 542px;
   margin: auto;
   z-index: 2;
}
.sub3_10{
    position: relative;
    background-color: black; opacity: 55%;
    width: 1160px;
    height: 203px;
    margin-top: -204px;
    margin-left:  760px;}

.s3wrap7{
        position: relative;
        width: 1100px;
        height: 750px;
        margin: 0 auto;
}
.sub3_11{
    position: absolute;
    background-image: url(sub03/s2\ img6.png);
    width: 750px;
    height: 750px;
z-index: 1;}
.sub3_12{
    position: absolute;
    background-color: black; opacity: 55%;
    width: 1920px;
    height: 203px;
margin-top: -203px;}
  
.sub3_13{
    position: absolute;
    background-color: black; opacity: 55%;
    width: 1160px;
    height: 203px;
margin-top: -750px;}

.s3wrap8{
    position: relative;
    width: 1920px;
    height: 289px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
}
.sub3_14{
    position: absolute;
    background-color: black; opacity: 55%;
    width: 1920px;
    height: 289px;
margin-top: 139px;}
.sub3_txt4{
    
    position: absolute;
    margin-top: 224px;
    font-size: 30px;
    width: 1100px;
height: 120px;
text-align: center;
font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; color:white;
text-align: center;
}
.s3wrap9{
    position: relative;
    width: 1920px;
    height: 1468px;
    justify-content: center;
    display: flex;
    margin-top: 548px;
}
.sub3_15{
    position: absolute;
    background-image: url(sub03/end.png);
    width: 1100px;
    height: 1100px;
    
    

}
.sub3_16{
    position: absolute;
    background-image: url(sub03/s2img9.png);
    width: 1920px;
    height: 744px;
    margin-top: -700px;
    

}
.sub3_txt5{
    
    position: absolute;
    margin-top: 338px;
    font-size: 27px;
    width: 724px;
height: 108px;
text-align: center;
font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; color:white;
text-align: center;

}
.sub3_txt6{
    
    position: absolute;
    margin-top: 606px;
    font-size: 27px;
    width: 724px;
height: 108px;
text-align: center;
font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif; color:white;
text-align: center;

}